@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

html {
    font-size: 1rem;
    color: #222;
    background-color: #E7E7E7;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: .5em 3em 1em 3em;
    margin: 16px auto;
    max-width: 45em;
    border: .1em solid #c0c0c0;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    body {
        max-width: 30em;
    }
}

pre {
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

p {
    line-height: 1.6em;
}

blockquote {
    margin: 0;
    border-left: 4px solid #aaa;
    padding-left: 0.8rem;
    color: #555;
    font-style: italic;
}

a {
    color: #399;
}

a:visited {
    color: #90a;
}

ul, ol {
    padding: 0;
}

li {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #000;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #c8c8c8;
}

img {
    max-width: 100%;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #ddd;
    color: #333;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #333;
    color: #ddd;
    cursor: pointer;
}

input:disabled, input:disabled:hover {
    cursor: default;
    color: #555;
    border: 1px solid #555;
    background-color: #aaa;
}

footer {
    margin-bottom: 50px;
}
